<div class="row">
    <div class="topten-container">
        <div class="title-page">
            Top Ten
        </div>
    </div>
</div>
<div class="row">
    <input placeholder="Search sharders" class="search-input">
    <i class="fa fa-search" aria-hidden="true"></i>
</div>
<div class="row">
    <table class="sharder-table">
        <tr>
            <th class="table-header-item">Order</th>
            <th class="table-header-item">Sharder Name</th>
            <th class="table-header-item">News</th>
            <th class="table-header-item">Date</th>
            <th class="table-header-item">Total</th>
        </tr>
        <tr>
            <td class="table-item">Peter</td>
            <td class="table-item">Griffin</td>
            <td class="table-item">$100</td>
            <td class="table-item">$100</td>
            <td class="table-item">$100</td>
        </tr>
        <tr>
            <td class="table-item">Lois</td>
            <td class="table-item">Griffin</td>
            <td class="table-item">$150</td>
            <td class="table-item">$100</td>
            <td class="table-item">$100</td>
        </tr>
        <tr>
            <td class="table-item">Joe</td>
            <td class="table-item">Swanson</td>
            <td class="table-item">$300</td>
            <td class="table-item">$100</td>
            <td class="table-item">$100</td>
        </tr>
        <tr>
            <td class="table-item">Cleveland</td>
            <td class="table-item">Brown</td>
            <td class="table-item">$250</td>
            <td class="table-item">$100</td>
            <td class="table-item">$100</td>
        </tr>
    </table>
</div>