<nav>
    <div class="nav-header">
        <div class="icon-page">
            <i class="fa fa-ravelry" aria-hidden="true"></i>
        </div>
    </div>
    <div class="clear-canvas"></div>
    <span class="title-blog">Sharing Knowledge</span>
    <ul class="nav-var-blog">
        <li class="item-menu" routerLink="/home">Home</li>
        <li class="item-menu" routerLink="/news">News</li>
        <li class="item-menu" routerLink="/topten">Top Ten</li>
        <li class="item-menu" routerLink="/sharders">Sharders</li>
    </ul>
</nav>